@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  overflow-x: hidden;
}
:root {
  /* colors */
  --bg-color: #ffffff;
  --primary-color: #040744;
  --sub-text: #7e7e7e;
  --svg-color: #feb546;
  --count-down-color: #ffd02a;
  --black-color-text: #28282b;
  --white--color: #eeeeee;
}
a {
  text-decoration: none;
  color: var(--black-color-text);
}
.container {
  padding: 60px 120px;
}
.container_padding {
  padding: 20px 120px;
}
@media screen and (max-width: 1024px) {
  .container {
    padding: 30px 60px;
  }
  .container_padding {
    padding: 20px 60px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 40px 60px;
  }
  .container_padding {
    padding: 20px 60px;
  }
}
@media screen and (max-width: 425px) {
  .container {
    padding: 10px 30px !important;
  }
  .container_padding {
    padding: 10px 30px;
  }
}
